<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Affordable and professional websites with greate desine">
    <meta name="keywords" content="web design, affordable web disibn, professional web design, professional web developing">
    <meta name="author" content="Loctarogar">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>Web developing | {% block title %}{% endblock title %}</title>
</head>
<body>
    {% block header %}
        <header class="header">
            <div class="container">
                <div id="branding">
                    <h1><span class="highlight">Professional</span> Web Developing</h1>
                </div>
                <nav>
                    <ul>
                        <li {% if app.request.pathInfo == '/' %} class="current" {% endif %}><a href="{{ path('base_index') }}">Home</a></li>
                        <li {% if app.request.pathInfo == '/about' %} class="current" {% endif %}><a href="{{ path('base_about') }}">About</a></li>
                        <li {% if app.request.pathInfo == '/services' %} class="current" {% endif %}><a href="{{ path('base_services') }}">Services</a></li>
                        <li {% if app.request.pathInfo == '/login' %} class="current" {% endif %}><a href="{{ path('base_login') }}">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    {% endblock header %}

    {% block section_showcase %}
    {% endblock section_showcase %}

    {% block section_newsletter %}
    {% endblock section_newsletter %}

    {% block section_main %}
    {% endblock section_main %}

    {% block section_boxes %}
    {% endblock section_boxes %}

    {% block footer %}
        <footer class="footer">
            <p>Professional Web Developing &copy; 2019</p>
        </footer>
    {% endblock footer %}
</body>
</html>
